<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="zuznow-plugin-base" version="0.0.1">

    <name>Zuznow Base</name>
 
    <description> Cordova / Phonegap plugin for Zuznow Hybrid app </description>    

    <keywords>zuznow, native_spinner</keywords>
	<js-module src="www/zuznownativespinner.js" name="ZuznowNativeSpinner">
		<clobbers target="ZuznowNativeSpinner" />
	</js-module>

    <!-- ios -->
    <platform name="ios">    
		<hook type="after_prepare" src="hooks/ios_after_prepare.js" />
		<config-file target="config.xml" parent="/*">
			<feature name="ZuznowBase">
				<param name="ios-package" value="ZuznowBase"/>
				<param name="onload" value="true"/>
			</feature>
			<preference name="Orientation" value="portrait" />
			<preference name="SplashScreen" value="splash" />
			<preference name="FadeSplashScreen" value="false"/>
			<preference name="ShowSplashScreenSpinner" value="false"/>
			<preference name="DisallowOverscroll" value="true"/>
			<preference name="AppendUserAgent" value=" MOBAPP" />
			<preference name="deployment-target" value="6.0" />
			<preference name="loadUrlTimeoutValue" value="700000" />
			<preference name="HideKeyboardFormAccessoryBar" value="false"/>
			<preference name="StatusBarOverlaysWebView" value="false" />
			<preference name="StatusBarBackgroundColor" value="#000000" />
	    </config-file>
		
		<header-file src="src/ios/ZuznowBase.h" />
	    <source-file src="src/ios/ZuznowBase.m" />
		<header-file src="src/ios/ZuzProcessIndicator.h" />
	    <source-file src="src/ios/ZuzProcessIndicator.m" />
		<header-file src="src/ios/ZuzURLProtocol.h" />
        <source-file src="src/ios/ZuzURLProtocol.m" />
        
    </platform>
	
	<!-- Android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ZuznowBase">
				<param name="android-package" value="com.zuznow.base.ZuznowBase"/>
				<param name="onload" value="true"/>
			</feature>
			<preference name="Orientation" value="portrait" />
			<preference name="SplashScreen" value="splash" />
			<preference name="FadeSplashScreen" value="false"/>
			<preference name="ShowSplashScreenSpinner" value="false"/>
			<preference name="DisallowOverscroll" value="true"/>
			<preference name="AppendUserAgent" value=" MOBAPP" />
			<preference name="loadUrlTimeoutValue" value="700000" />
			<preference name="HideKeyboardFormAccessoryBar" value="false"/>
			<preference name="StatusBarBackgroundColor" value="#000000" />
		</config-file>
		<hook type="after_prepare" src="hooks/after_prepare.js" />
		<source-file src="src/android/ZuznowBase.java" target-dir="src/com/zuznow/base" />
		<source-file src="src/android/ZuzWebChromeClient.java" target-dir="src/com/zuznow/base" />
		<source-file src="src/android/ZuzWebViewClient.java" target-dir="src/com/zuznow/base" />
		<source-file src="src/android/ZuzWebViewClientHelper.java" target-dir="src/com/zuznow/base" />
		
	</platform>
	
</plugin>
